[Desktop Entry]
Encoding=UTF-8
Name=Comics Daily
Comment=Comics daily
Exec=/usr/bin/comics-daily
Icon=comics-daily
Terminal=false
X-MultipleArgs=false
Type=Application
X-Osso-Type=application/x-executable
