Source: comics-daily
Section: user/graphics
Priority: optional
Maintainer: norayr chilingarian <norayr@arnet.am>
Uploaders: norayr chilnigarian <norayr@arnet.am>
Build-Depends:  debhelper (>= 4.0.0), fpc-source, lazarus-ide, lazarus-ide-gtk2, lazarus-src, lcl, lcl-gtk2, lcl-nogui, lcl-units
Standards-Version: 3.6.1

Package: comics-daily
Section: user/graphics
Architecture: any
Depends: libc6, libgtk2.0-0, libx11-6, libgdk-pixbuf-2.0-0, libgtk2.0-0, libglib2.0-0, libpango-1.0-0, libcairo2, libatk1.0-0, libpangocairo-1.0-0, libfontconfig1, libxrender1, libxinerama1, libxi6, libxrandr2, libxcursor1, libxcomposite1, libxdamage1, libxfixes3, libxext6, libxcb1, libpangoft2-1.0-0, libffi7, libpcre3, libfribidi0, libthai0, libharfbuzz0b, libpixman-1-0, libfreetype6, libpng16-16, libxcb-shm0, libxcb-render0, zlib1g, libexpat1, libxau6, libxdmcp6
Provides: comics-daily
Replaces: comics-daily
Description: web comic reader
XSBC-Bugtracker: mailto:norayr@arnet.am
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAzFmVYSWZJSSoA
 CAAAAAsAAAEEAAEAAAAwAAAAAQEEAAEAAAAwAAAAAgEDAAMAAACSAAAADgEC
 ABIAAACYAAAAEgEDAAEAAAABAAAAGgEFAAEAAACqAAAAGwEFAAEAAACyAAAA
 KAEDAAEAAAADAAAAMQECAA0AAAC6AAAAMgECABQAAADIAAAAaYcEAAEAAADc
 AAAAFAEAAAgACAAIAENyZWF0ZWQgd2l0aCBHSU1QADcCAAAUAAAANwIAABQA
 AABHSU1QIDIuMTAuMzYAADIwMjQ6MDc6MDUgMjE6MzI6NDAAAgCGkgcAGQAA
 APoAAAABoAMAAQAAAAEAAAAAAAAAAAAAAAAAAABDcmVhdGVkIHdpdGggR0lN
 UAAJAP4ABAABAAAAAQAAAAABBAABAAAAAAEAAAEBBAABAAAAAAEAAAIBAwAD
 AAAAhgEAAAMBAwABAAAABgAAAAYBAwABAAAABgAAABUBAwABAAAAAwAAAAEC
 BAABAAAAjAEAAAICBAABAAAAiTEAAAAAAAAIAAgACAD/2P/gABBKRklGAAEB
 AAABAAEAAP/bAEMACAYGBwYFCAcHBwkJCAoMFA0MCwsMGRITDxQdGh8eHRoc
 HCAkLicgIiwjHBwoNyksMDE0NDQfJzk9ODI8LjM0Mv/bAEMBCQkJDAsMGA0N
 GDIhHCEyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIy
 MjIyMjIyMjIyMv/AABEIAQABAAMBIgACEQEDEQH/xAAfAAABBQEBAQEBAQAA
 AAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BAgMABBEF
 EiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1
 Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImK
 kpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna
 4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBAQEBAQEBAAAAAAAAAQID
 BAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2Fx
 EyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RF
 RkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeY
 mZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo
 6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/APf6KKKACiiigAooooAwfFvi2w8G
 6VFqOow3MsMk4gC26qzbirNn5mHGFNHhLxbYeMtKl1HTobmKGOcwFbhVVtwV
 Wz8rHjDCvK9B166+Mt8/h3xFHDa2dtGb5H08FJDIpCAEuXG3Ejds5A5r1Twl
 4SsPBulS6dp01zLDJOZy1wys24qq4+VRxhRVNWEnc3qKKKkYUUUUAFFFFABX
 zz8d/wDkeLL/ALBqf+jJa+hq43xb8NNG8ZarFqOo3N/FNHAIAtvIirtDM2fm
 U85Y007MTDwl8S9G8ZarLp2nW1/FNHAZy1xGirtDKuPlY85YV2VfPPwI/wCR
 4vf+wa//AKMir6GoaswQUUUUhhRXnHw/+IGq+K9ensb63so4o7VpgYEYNkMo
 7sePmNej02rAFFFFIAooryv4l/EvWfBviO307TrawlhktFnLXEbs24u64+Vh
 xhRTSuB6pRRRSAKKKKACiiigAooooAKKKKACub8QeNtN8N38dneQXbyPEJQY
 UUjBJHdhz8pq94i1SfSdPjuLdI2dpQhEgJGME9iPSuKvdMh8YzDUNQaSKaNf
 IC25CrtGW7g85Y0wOc+F3hu88KeJrm/v5YJIpLNoQIGJbcXQ9wOPlNdzr2h3
 Pia+S9spIY40iERExIOQSewPHzCtuHwxZQOWWW4JIxyw/wAK0rWzjtIjHGzE
 E7vmNNvqJHP2/hy8ikLNJARjHDH/AApZ/Dt3K4ZZIMYxyx/wrevZ2t4Q6AEl
 sc1j3Ou3UMgVY4SCM8g/40hle48N3ksYVZIAc55Y/wCFS2fh+7t4SjyQkls8
 Mf8ACq58TXv/ADyt/wDvk/40n/CUXv8Azyt/++W/xoA0V0a4U5Lxfmf8Kf8A
 2Rcf34vzP+FZf/CUX3/PK3/75b/Gk/4Sm+/55W//AHy3+NGoF86Hckffh/M/
 4Vn3vhW+uJg6S24AXHLN/hVhPEd4xwY4P++T/jUya7dMMmOH8j/jQBStfC19
 BKWaW3IK44Zv8KW68L308oZZbcADHLN/hV863c/3IvyP+NQyeILtGwI4en90
 /wCNAWIU8NXqnJlg/wC+j/hTj4cvP+ekH/fR/wAKQeJbwn/VQf8AfJ/xpD4l
 vAf9VB/3yf8AGgLFttDuSPvw/mf8KzL/AMJX91OrpNbABcfMzep9qlHii9/5
 5W//AHy3+NOHia9I/wBVb/8AfJ/xoArQeEb+JyzTW2MY4Zv/AImmXXg7UJ5Q
 yzWoAGOWb/4mtiz1u5uJijpEAFzwD/jWxazNPEWYAEHHFILHhfiX4Va6mnRk
 3enf64f8tH9D/sV03w5lXwL4euNM1MGaeW7a4Vrb5l2lEXB3bTnKnt6V6Xf2
 EWowLDMzqobdlCAc4I7j3rHm8GadO4ZproEDHDL/APE0wI/DvjnTPE2oSWVl
 BdxyJEZSZkUDAIHZjz8wrpq8lsbVPBkx1HTi0s0i+QVuDuXaSGz8uDnKjvXf
 eFdZuNc0yW5uUiR1mMYEQIGAqnuT60gNyiiigAoryv4afEvWfGXiO407Ubaw
 ihjtGnDW8bq24Oi4+ZjxhjXqlNqwBRRRSAwPF3i6w8GaVFqOow3MsMk4gC26
 qzbirNn5mHGFNZOi/E7Rdds3urW11BESQxkSxoDkAHs59azvjRaR3ng60jkL
 AC/RvlP/AEzk/wAa5j4daHbDw/P883/H03cf3E9qqysI9J0rS54bpmZoyNhH
 BPqPatgSrafu5AST83y025/0GMSxcsTt+bpj/IrifE/i2/0/Uo4oobZlMIb5
 1YnOWHr7UhlrxH480u00+OSS3vCDKF+VF9D/ALVUtIU+NbR9S0391DE5gZbn
 5W3ABs/LkYww71san8OdI1W2WCe5vlVXDgxugOcEd1PrWr4Z8M2XhTTZLGxl
 uJIpJjMTOwLZIA7AcfKKAPH/ABB8EvEurWEcEF9pKssocmSWQDGCO0Z9a774
 TeCtS8CeFrrS9UntJp5b17hWtXZlClEXB3KpzlD29K7yilcAooooAKKKKACv
 G/iz8Jte8eeKrXVNLu9Nhgiskt2W6kdWLB3bI2owxhx39a9kooA+YP8AhnHx
 f/0EtD/7/wA3/wAao/4Zx8Yf9BLQ/wDv/N/8ar6fooA+YP8AhnHxh/0EtD/7
 /wA3/wAar2P4TeCtS8B+FbrS9UntJp5b17hWtXZlClEXB3KpzlD29K7yigAo
 oooA5P4g+GL3xZoEFhYS28csd0sxM7MF2hXHYHn5hXJaN8L9b06zeGa609mM
 hbKSORjAHdPavWaKdwPKPGrjwTo0OpalmWGW4W3Vbb5m3FWbJ3YGMKe9S+Bf
 iPo9zokzpbXwAuWHKJ/dX/arsPGXg3TvHGjw6Zqc11FDFcC4VrZlVtwVlwdy
 kYwx7elYmifCXQdBs3tbW71J0eQyEyyRk5IA7IPSgDrDdJqP7mEMrL82X4GO
 nb61jar4bvL26WSOSAAIF+Zj6n296y9C166e+cGOH/VnsfUe9dlp9y95A0kg
 UENt+X6CkBnaL4rsddvHtbWK4R1jMhMqqBgEDsT61xPxK+Gus+MvEdvqOnXN
 hFDHaLAVuJHVtwd2z8qnjDCrO0eEf9PsP3ksn7kifldp57Y5+UVzPiL4yeId
 J1CO3t7PS2Rog5MkUhOckdnHpTV+gj1Lxb4tsPBulRajqMNzLDJOIAtuqs24
 qzZ+YjjCmjwl4tsPGWlS6jp0NzFDHOYCtwqq24KrZ+UnjDCuM+PH/Ij2X/YS
 j/8ARctHwH/5Ee9/7CUn/ouKnbS4X1PUaK8r+GnxL1nxl4juNO1G2sIoY7Rp
 w1vG6tuDouPmY8YY16pSasNO55rP4103xug03TYLuKaI/aGa5RVXaPlwNrE5
 yw7etdX4StJLPSpY5CpJnLfKf9lf8K4D4eeHLOLxBOyyTk/ZWHLD++ntXq9r
 aR2kRjjLEFt3zGhiMLVD/wAJJbLZ2fySI4lJm4GACO2efmFXvD+mT6TYSQTt
 GzNKXBjJIxgDuB6VheEryS41WVHCgCAngf7S12dIYUUUUAFFFFABXPa94y07
 w9fJaXcN08jxiUGJVIwSR3Yc8GuO0n4k6xf3TRS21gFCFvljfOcj/a96210G
 18bD+0tSkmimi/cKtsQq7R82TuBOcse9AFfxxbv4z0WHTtOKxTR3Czlrj5V2
 hWXHy5OcsO1Y/h34eatZ6fJHJcWRJlLfK7+g/wBn2r0O30G1tpC6STEkY5I/
 wq/DCsCFVJIJzzQBzVv4ZvYpCzSwEYxwx/wqx/YN1/z0h/M/4V0VFAGbfafL
 dQKiMgIbPzE+h9qzH8PXbHIkg/76P+FdLRQBxF74O1C4hCJNaghs8s3/AMTX
 nfjH4W63favFLFdaeFEAX5pHz95v9j3r3uqd3psN5KJJGkBC7flI/wAPegDA
 1Hx/pWm26zTW96ys2wBEUnOCe7e1anh3xFaeJtPkvbKOeONJTERMoByAD2J4
 +YVha/4I025sUR57sASg8Ovof9mqGnSt4Nt207TgJYZH88tcfM24gL/DjjCi
 gD0OiiigAooooAw/FOjXGuaZHbWzxI6zCQmQkDAVh2B9aytJtJPDVq1neFZJ
 HcygwnIwQB3xz8prsa4Dxxq9xYa1DFEkTKbdW+cEnO5h6+1AHU6/ZSX9gkUT
 IGEob5icYwf8a5o+KrHwWf7O1GK4lml/fhrdVZdp+XHzEHOVPau0x53ytwBz
 xXmnxD0mC41+B3eQEWqjgj++/tTQj1KvK/iX8NNZ8ZeI7fUdOubCKGO0WArc
 SOrbg7tn5VPGGFeqUUJ2GeV/DT4aaz4N8R3Go6jc2EsMlo0AW3kdm3F0bPzK
 OMKa9UooobuCVjl/DkLR6jISR/qiOPqKn124SK+RWDE+WDx9TUujRhLxyCf9
 Wf5iq/iCJXv4ySf9UP5mkByPw2+G2s+DvEVxqGoXNhLDJaNAFt5HZtxdG7qO
 MKa9SoooAKKKKAKGr6vb6NaLc3KSsjOIwIwCckE9yPSuN1W2fxfdLqGnlYoo
 0EJFx8rbgS3bPGGFWIL6Xxc5sL9UjijHnAwAhtw4754+Y10Ok6HbadatDC8z
 KzlsuQTnAHYe1MB9tbPp8hllKspG3CcnPX+lMvPElnZTCOSOcsV3fKo/x9qw
 9Z8SXkFmjLFASZAOVPofenaJZx+J7J729Zo5EkMQEJwMAA988/MaLAc4fFth
 rQ+zW0Nyjr+8JkVQMDjsx9a3tD02bULJ5YmjVRIV+ckHOAfT3ryj4dzNqniC
 eCcBVW1ZwU4Od6Dvn1r3Xw1bpa6dIiFiDMT830FDAv31/Fp8Cyyq7KW2/IAT
 nBP9K838ZeNdNtdXiR4LskwA/Ki/3m/2qs+N/FN9Z6LDJHFbkm4VfmVv7re9
 ZXhrwrY/ETTpNX1eW4guIZTbKtoyqpUAMCQwY5y57+lNeYHSRaZN4XY3t60c
 kTjygISScnnuBx8prpNE1OG/snliWQKJCvzAZzge/vVjVdKg1e1W3uHkVFcO
 DGQDnBHcH1rAnY+GXFlZfvI3HmkzcnJ47Y4+UVIFrxRCw0yPkf64f+gtXnOr
 eOtL8KXS2N9BeSSyIJgYEUrgkjuw5+U169qFhFqNusMzOqht2UIBzgjuPevG
 viV4L0648R27vPdAi0UcOv8Aff8A2aAPULHxhp+oTtFFDdKwXdl1UDGQP73v
 WvBOt4hkjBAB2/N/n3rite0mDwjYpf2DySSySCEicgrtIJ7Ac/KKk8PeJbyb
 T5GaKAESkcKfQe9AGF4/8E6lqOgwQwz2istyrZd2AxtYdl96peDNftPhpo82
 jazHNPcz3BulazUMgQqqgEsVOcoe3pXrV9YxahAsUrOqht3yEA5wR/WvOfGH
 g3TrjVonea6BEAHDL/eb/ZpgeoUV5h8OPiPrHi/xDcafqFtYxRR2jTg26Orb
 g6L3Y8YY16fSAKKKKAOX8NuG1GQDP+qP8xVbxXZyXGqROjKAIQOT/tNVbwXe
 yXGsTI6oALdjwP8AaWutvNLgvZhJI0gYLt+Uj/D3oEcx4Q+J2i+NNWl03TbX
 UIpooDOWuY0VdoZVx8rk5yw7V2lfPvwLtkh8bXrKWJOnOOf+ukddd8S/iXrP
 g3xHb6dp1tYSwyWizlriN2bcXdcfKw4wop2u9AudF4S+JejeMtVl07Tra/im
 jgM5a4jRV2hlXHysecsK7Kvnn4D/API8Xv8A2DZP/RkVfQ1ElZgjG0j/AI+2
 /wBw/wAxVbXh/pyf9ch/M1p2NskMzMpYkrjn6ilvdOhu5hJIzghdvykf4Uho
 vUUUUAFcT4wsZbrV4nRkAEAHzE/3mroPEGpz6TYRzwLGzNKEIkBIxgnsR6VR
 0tR4ktmvLz5JEcxAQ8DAAPfPPzGmBoRxnTm86YhlI24Tk569/pWB4g8SWdrf
 ojxzkmIH5VHqfetPxdfy6dpMU0KozGcLhwSMbWPb6V5N4i1u5uNQjd0iBEQH
 APqfehID1Tw94eu9J1CS4uJIGRoigEbEnOQe4HpXS15R8MfidrXjTxJcadqN
 rYRQxWbThreN1bcHRcfM5GMMe1er0MDhfBlpJBrEzuVINuRwf9pa6y81SCym
 EciyFiu75QP8fasbw7CseoSEE/6ojn6ijxE5XUIwMf6ofzNIDjfhf4osdb8S
 3NtbRXCOtm0hMiqBgOg7E+tes1xvhL4aaN4N1WXUdOub+WaSAwFbiRGXaWVs
 /Ko5yoqn438b6l4a1qGzs4LSSN7dZSZkYnJZh2YcfKKAO+rivF/hDUPEGrRX
 dpNbJGkAjIlZgchmPZTxyKwrz4k6xbwh0trAktjmN/8A4quK8SfHnxRo+ox2
 9vYaOyNEHJkhlJzkjtIPSgD2rRbyO4vHRAwIjJ5HuKp+JdPlu9RjkjZABCB8
 xPqfasrwPqU15rU0cixgC3ZvlB/vL7+9drcWUdzIHdnBAxwRQBzHhT4kaP4w
 1SXT9Ptr6KaOEzk3CIq7Qyr2Y85YVk+PvAOq+KtdgvrG4s44o7ZYSJ3YNkMx
 7KePmFZPwt8PWmk+JrmeCSdnazZCJGBGN6HsB6V65QB5x4V8UWUmqSgRXH+p
 PVV/vL713tlex30JliVwobb8wGc8f418++HtWntr+R0SMkxEfMD6j3r1nwhr
 FxcaTK7pECJyOAf7q+9AGbp7jwdO2oahmWGRfIC2/wAzbiQ3f
XSBC-Maemo-Display-Name: comics-daily

