Source: comics-daily
Section: user/graphics
Priority: optional
Maintainer: norayr chilingarian <norayr@arnet.am>
Uploaders: norayr chilnigarian <norayr@arnet.am>
Build-Depends:  debhelper (>= 4.0.0), fpc, fpc-3.2.0, fp-utils-3.2.0, fp-units-rtl-3.2.0, fp-units-net-3.2.0, fp-units-multimedia-3.2.0, fp-units-misc-3.2.0, fp-units-math-3.2.0, fp-units-gtk2-3.2.0, fp-units-gfx-3.2.0, fp-units-fv-3.2.0, fp-units-fcl-3.2.0, fp-units-db-3.2.0, fp-units-base, fp-compiler-3.2.0, fp-compiler, fpc-source, fpc-source-3.2.0, lazarus-ide, lazarus-ide-2.0, lazarus-ide-gtk2, lazarus-ide-gtk2-2.0, lazarus-src, lazarus-src-2.0, lcl, lcl-2.0, lcl-gtk2-2.0, lcl-nogui-2.0, lcl-units-2.0, lcl-utils-2.0, lcl-gtk2, lcl-nogui, lcl-units
Standards-Version: 3.6.1

Package: comics-daily
Section: user/graphics
Architecture: any
Depends: libc6, libgtk2.0-0, libx11-6, libgdk-pixbuf-2.0-0, libgtk2.0-0, libglib2.0-0, libpango-1.0-0, libcairo2, libatk1.0-0, libpangocairo-1.0-0, libfontconfig1, libxrender1, libxinerama1, libxi6, libxrandr2, libxcursor1, libxcomposite1, libxdamage1, libxfixes3, libxext6, libxcb1, libpangoft2-1.0-0, libffi7, libpcre3, libfribidi0, libthai0, libharfbuzz0b, libpixman-1-0, libfreetype6, libpng16-16, libxcb-shm0, libxcb-render0, zlib1g, libexpat1, libxau6, libxdmcp6
Provides: comics-daily
Replaces: comics-daily
Description: web comic reader
XSBC-Bugtracker: mailto:norayr@arnet.am
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAO0ElEQVRo3s1a
 B1zTVx4ng6Ed1taeh7XWQQX1bJXQVq9aQEBA9ghb0OphRa/V866OWmUUATUY
 2RtlBJEpgZCELAJhJpCErYLiYDkQ6mCae/9/8v8zhFYu3l3/fh7J/5ff+73f
 973feu+povJffLTWfIFR+aM8K3T0MHMHQMBorSVg/gDKf4n5z1eBgJ2Jvs3c
 Eftb/Va9ydVDAJw7H76OVszaXVcnPc1gsiMEldVxefmFFLG0MbZe3BDb3HI9
 tqm5LU5UJ46tqRXFUTKuXs3Kyk2vrKqNz8rOy6AzSi5zS8sT2Vx+Yl29JLaq
 pjYxMTm5II1CSaUzmEHxicnf7/52j+kqLR31N6b8t94HVHPyqD61wvqm0dEx
 2cuXL19pb/qh0eg9MbEJge47Pd9TSvmE5LTPmppbxYiKyOeN6+0yHrdMxmRy
 ZPTiElkxjQk3WhEDNKaMzeLJBOVVMrFIIpPUiWX1tXWy8tJyGbuEIyvl8GUl
 oB/EC/VllfBkfJ5Adu/O/VeAlPL5D4KCzzm8Yl6v41dMDt+078GjQUhraJYb
 JU2dGZTMn7127t6koqKm9ppzgMOqYBdhVDDvqqhgNMCrhvzz1cfcwHr++ZAL
 23KzrwWkp1EeIyDu3Lkro2RkHkD4Pl37O8HkE60N2EuplE3dvX1DkIC7d+6N
 pqdm+JuZWs77XwWNd99Z+A6JRD4qkTaMQjqMjo2NBwQGHZ/il2tmAeLk6rUA
 OGUH1LG1tW3o+PGTtv+v6BcVE7+lXix+BukilkpHzwSfX71Kofjy2cJ6THwS
 WaZwzJTLFK+5DGhmbrUkJjbek1pQFFFbLeTXVNd0Df7af7+2uuImn8ej0wpp
 QWEXwwy1tLSwrysz6Ow5+4cPH8FmnJObXzDFF6aDMDG1XiCqk/RDzOV8Qenr
 DnL48BFiSQmHfruzcwSOTL8TZURCUUd2VvYRT3ePBa8jn18uuALJffjo8ajn
 rr/pqMxmS6QLYS7IIGnJ6Ra/J3jvnn3aaWkUnjyUytWeS2htbWnppVDS7X5v
 HD//XzY8ffYcHuFieNTZKT8u15nIlHQGKwYS3NDQ9Hz9+g3zf0toaCjZvbGx
 6SmizPXWG09ycvJSKiqq0QhSVMikJyUlOXR13R+B3gcHB2RZWZlZVVWVdxGe
 4aEhGYPBiFz3l89/M0iU8stbYLNOz2iflalaKCqDmDhsTtlvCQsLizrV09MH
 z/T9O/eHszKzA/e67V1wKeXKHiRhMJhcpsl2BzycT5KS9jx9/hz+qbCQVvrR
 Uk2NUPKFHxsbG/uRVSspYTOsbRxmnTQ6kxkL8Qoqq8aWLF+1cEam5tZWCcRU
 U1OTPJug+ITk7wYGf4UHraqs7gonRetB9A16m7A1wrpbEL2yoqbDzsZtShYt
 pNFSIdnj4+OygMAzxhDN189/qaCishbqMw5aEa24SFdvE36mcSMio44jq/bV
 5r++ryhxpvI2t7RKYQBVlbEzCYmNTdx048bNMWjApsbWG8mJlI+Q3yKjYk3H
 FbOZkJBkP73vj8eOLbvZ3gGbUnZ2bjFC32FtvRDMrgDxnbCIyIiZxvYPCDyM
 AHB0dtVWAMBOcWJQNsAAaquro2a2Q4EYGqQV2Psvv5xfPfm3Iho9CvLdioqK
 Xh2dtaozZncWC16F1ra2kQ0bCR8gdJ+Df1/A4/EaIdntHbde/vPHY5um971A
 DtuHAHBydf9cHoBAxTo5lg48GRDCmW9kxHe6gEsp6ZaIvV4kR7vs2bV/yYpP
 PkWVqKyqkowD4+eweejqfbvL++PgYBJhr/f+xeAVExwcbI0oQSaHmyJ8zvaO
 H/j5ntrU2dn5CJJ/6XJqpQoGP8U8jh47cQTpGxxC0pyi3DdGNhgDExt8/5Mn
 MID79+4FTQeQk3MNdnChUDgK7LZ/dByYUVPLWExUdP769ev12tquw+ZBoWT+
 cOVK5k+lpfzO0ZFR2djYmKy7u1tGpVIroyPIW1rbmuEShVpA3R+XEGNZwiwR
 93T3gmj0TFZfL4IVHBoalhGdXc0nj3/w4PdHEQC/nCEtgcue1boTCdFwuy1+
 eHgYBjA4MOg/ubO1DXFJT0/v+OQYPrmcZrHZAwgd7BEejE3LBQjf6MjQi8Ym
 KQyUz+e39ff3w7F9emkOfaSmZSRMXYHjB9AVIEVovlIPgRXAjoyMCBU8pyd3
 jktI9pmsPJfN7i3MzaPSizk3xmdIXNC7UCR+Bs0+pGERjVbQ3t4+Mp0Hetpv
 to8wimncwoJr1PaOjgEEQI1Q/HjN+q2oL1ELCx2QvufJkZqvbvFM7fC3b3dK
 ZgJAZ7DrICKkUFRUdOjyj5fCgt9ftFY1LuGyzwNQq0x+8vKpCQHBoU4wAPD4
 +Z3XPHXq1LoSFqdvar1f1uN3KmANMs6ZoJDF1TXCZnk58lJGCo3agu5NEhJd
 JgCEL0GVMzInwsnDxnHnPA6X92A6gK3fGH3y7NkLmJiTncebOcmwMhHhYBNJ
 Bf6KSUqhWKIrxq2CZ4wUGmaM0MBsj5z46We96bJOnDy9A+HJzs4PR+infX2/
 Q+iH/nl8jbWDh6axucNClZU6erAjOLrsVq+pre1SJFIUwOavt74LYj9c0mZk
 XN01E4C4pCR0duLiEpwgGotThgJokLYgS46rqKrqk9Maa2eStejPi+c3NDbC
 psRmcgoRuq+fHwpgn89hW0t7txWf6W2dKOy2mVh9LJaI4X3di6Fhv8lCA86Q
 Nh8/FbL7rXcWzliD77CxVS8sZASXsHixO3YQYfOqFYrRkNl+8xZqs2HhMV/n
 5eanR0TEGc+W7TOzc77Jy83JJJMjNyC086QLuxF5QcGhyyHaSm3did2dkYnN
 BrFUAgMAJXWYspuRsyTyHmTAjvbbmsrKCw45vxetlNMyFWF0oypIZF9h5ACs
 VwETggFwefxYpQc8F+o9UTbfVBrAmaCzqLykpNQl8rMjPdxkE1IrFwhgHwBl
 gdIAzpydAJCXU6Q0gJBzJO+JTBy6TLEjU5sMYIFEKm2DGAqohUoDCIuM9kQG
 jIlMVBrAuVAyCqDgGg1eARCAVCcD+HNXd1c9fLBUzHgDJkRCbTY5MV15AKQL
 KABKRtZSeDOmrTgfAmUExsDYUnVgUF4LlZcJlAYQSr64CxmQQecoDYB8MRyV
 l5Wdv1RRSkzUQtuMrRY9GZADaGlujX2TM8bjlikNgEQio2H02jXaR4rt8IQJ
 6RtZYHr7euFy8PatTqUBJCanoACoBXInLilh0RulksfhZNLWucoLCAhEE1lC
 YsoyhQnhoT9YhQ+o9vT2COVZUpqkLIDo2EQUQG5OPgCgrn7rVidcqrDZ3DnL
 P3nyZ7Scjo5OUPiAngb4owsfZRub2ePrJZIqiKFOVMdVFkBQyDl0xkQiIbwC
 Dx887JWbFC9lrvLCwyNJ8CnGyIjM1c3rPQUAPFpTG5jYqonqRIkQk1TaMIDH
 qy9WBgDYhNtM1EcxO6OiLn7e/+gxXP8XUqkhc5XHZHJ5sHU0Nj782tActppP
 tAk4NBSByg7PLy9zQwa1tbXfrQyANevWfd7Q2ABvgrq7u8bv3r2j+N4juxB6
 4cu5yPps/QYtYH7wfoLF5dH1t1thFU6Mn7KrOe0f+EF3T9eQ3M5iBHg1Dawy
 IALPBIVPP427knH14lzl+Pv7hyAnfwmXUrz1zawxoA7CAhNaDF3e4Se2lTZq
 VdWVsBn9+vSpzHOX114lXQEbH5/kxuaUZbI4gisZGddc5irAzMziLwwGHZ79
 6zdu9njt2T9fsR9WA9azEHbi5Z9uxMoBWGMupaQu6+3rG4SPV4S1Ay6uLib/
 r+N1DzfPRVwOT4zmkzL+XkNze7n5gFIajqBgBd5Gztz1ja2x+saWGBaL4/Xi
 BWxJMqFQNAw21IGLPtRc8L9THYc7dvSEeWVF1U1E+ZpaUYGphT0O0lEBYN6y
 1RvnQaFoMajq0FtBfWMLjJOzO7auXvyPJwMDMuSKqaCgsP9iWESS7+kAt8P/
 OPqV166/Efb7/ED44dC/NgWHkL4AyYWQTskiZF7NI/D4AkJWdt6XaemZm0/8
 dNryp5O+lseO/WyZnJy6pfdBP+F25z2CRNpMKKAWEy5dSiOA6vKrIhqDEBef
 bMNicX2Li4qbh4eH0JMKbmk577sDRz6UHwFZYVas1sUDE/qTisKWPlwBUjJy
 nwvMSH3rth0YazsPXFZ2jm17e0fnTKcO8iab5bbyJfpv4nrw5aRrwpmPZ6Yf
 xfT09v1aVl550snNa6UN0QNrYGKNl1ehBI0V2rrzFQA24pav1n1vpY7uW8gF
 GlgmNDLt8fbRLGFxfrhz917l48f9M94BKHPd+urkQEeP11vEEunh6LjED+xd
 di60c/bEI0c/kI6rdAhvT7mdWb56owYgvA1WQQNaiW1mdthtptaoWdkRPXD2
 Tp5ql1PSPgT7ZhN6MeNgfv6142w250hZWfnhZ89feD99+sz70aPH3l1d3fsq
 Kiq/ZzCYh4Av7eeX8n0kEsk+kUi0n04vPlRaWrq/TFC+j8vjHeBwOAfLKwTf
 1QhrvUEO+pZfVm6RlZ270ufgIZyDs8d8OycPDTtHD3jXZWhsiQOKY7XW6M0D
 uuKAD+Bevd4HOxwA4C3QcHJ7s8CAjuqg1MbZOrhj7InuQPBOdaLLzveIzh7v
 grbQycXjY9BU7R1dsOATR3Ryg/s6OLvhHIiuOEDD2xOdMURXDw17oivW0dlD
 zdnVE+/g5D7f0cUTa+PoDJuuk8tOnKOzuzqgqTq5eUK/4UB9hjM0scIbbLfC
 yf/bgp7qSm2C6qy+v1JR2AFG9cn3sQCAOiRMrpgHSgcAgCKuGkBpPNHZXc3e
 yRXnCAAA5bGAD+YH7zAwO6ILmhTtHJwxjkR3iAdr7+iGITq5q0M88qLSUgNM
 mirUTMxs1eQTq4uDrANES/xrBzKo00qdjQtWr9Wdp71ODmyLgZnqFoPteH3g
 5AbGFnhoWfVNLLGgFMcBkGqGxjuwUDMytZq/bbsFaJbzDE0s5ukbmWGMtlup
 gga9vwWUBN+t3wH9IRmqkDzou4HRDjBRlupfbDbEfrpmI057rS4GKK4GdHl7
 Nj3/DYwVwuA1ywncAAAAAElFTkSuQmCC
XSBC-Maemo-Display-Name: comics-daily


